body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.header {
    background-color: #F0FFF0;
}

p {
    color: #585859;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 12px 22px;
    color: black;
}

.signbtn {
    background: #21B573;
    border-radius: 33px;
    /* padding: 12px 28px; */
}

.header p {
    font-size: 16px;
    color: #FD511A;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
}

.header .startbtn {
    background-color: #21B573;
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
}

.headingwrapper {
    padding: 60px 16px;
}

.element {
    text-align: center;
    padding: 50px 0px;
    border-radius: 10px;
    background-color: #F8FFFB;
}

.element:hover {
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.categhorylist {
    padding: 25px 10px;
}

.courselist {
    padding: 25px 10px;
}

.coursesection h2 {
    padding: 50px 0;
    font-size: 36px;
    font-weight: bold;
    color: #413960;
}

.course {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-body {
    margin-top: 10px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px;
}

.course h3 {
    margin-top: 10px;
    font-size: 24px;
    color: #413960;
}

#calender {
    width: 24px;
    height: 24px;
}

#people {
    width: 24px;
    height: 24px;
}

#coursebtn {
    padding: 5px 25px;
    background-color: #21B573;
    color: white;
    border-radius: 25px;
    border: none;
}

.testimonial {
    padding: 60px 0;
}

.testimonial h1 {
    font-size: 36px;
    font-weight: bold;
}

.testimonial .wrapper {
    padding-top: 20px;
    padding-left: 50px;
    width: 580px;
    font-size: 16px;
}

.footer-section {
    background-color: #222;
    padding: 40px 0;
}

.footer-section h5 {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.footer-section p {
    font-weight: 200;
    font-size: 16px;
    color: white;
}

.footer-section a {
    display: block;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
    color: white;
}

footer {
    margin-top: 50px;
}

.imgcircle {
    border-radius: 50%;
}

.teacherlist {
    padding: 25px 10px;
}
